.icons{
  display: inline-flex;
  font-size: 14px;
}

fa-icon {
color: #212529;
padding: 2px;
  }

  .eval:hover{
    color: green;
    cursor: pointer;
  }

  .edit:hover{
    color: #389cff;
    cursor: pointer;
  }

  .delete:hover{
    color: red;
    cursor: pointer;
  }


img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}
