fa-icon {
  color: #212529;
  }

.delete:hover{
    color: red;
    cursor: pointer;
}

.img {
  width:175px;
  height:175px;
  border-radius: 25%;
  object-fit:cover;
  object-position:50% 50%;
 }

.col-md-4 {
  padding-bottom: 25px;
}

.infoU{
  background-color:#f2f2f2 ;
  border-radius: 0px  20px 20px 0px;
  color:black;
  border-bottom: 0.5px solid #dee2e6;
}

.infoHU{
  border-radius: 20px   0 0 20px;
  background-color: #343a40 ;color:white;
    border-bottom: 0.5px solid #454d55;
    width: 25px;
    height: 48px;
    font-weight: bold;
    padding-top: 10px;
}

.infoH{
  border-radius: 20px   0 0 20px;
  background-color: #343a40 ;color:white;
  font-weight: bold;
  width: 25px;
}

.info{
  border-radius: 0px  20px 20px 0px;
  background-color:#ffffff ;
  border: 0.5px solid #dee2e6;
  color:black;
}

@media screen and (max-width: 768px) {
  .average-table {
    margin-left: 25%;
  }
}
